# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Bluff,NZ,-46.6000,168.3333,46.98,74,53,3.76,broken clouds
1,1,Airai,TL,-8.9266,125.4092,61.99,95,100,1.52,light rain
2,2,Hithadhoo,MV,-0.6000,73.0833,82.08,74,95,9.48,overcast clouds
3,3,Banjar,ID,-8.1900,114.9675,78.62,91,90,0.81,overcast clouds
4,4,Takoradi,GH,4.8845,-1.7554,84.81,68,29,6.89,scattered clouds
5,5,Yanam,IN,16.7333,82.2167,75.02,76,14,5.23,few clouds
6,6,Torbay,CA,47.6666,-52.7314,44.76,96,100,32.21,light rain
7,7,Nouadhibou,MR,20.9310,-17.0347,73.38,38,0,14.97,clear sky
8,8,Barcelos,PT,41.5388,-8.6151,53.74,94,100,3.67,light rain
9,9,Karasjok,NO,69.4719,25.5112,30.97,91,98,15.41,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Airai,TL,-8.9266,125.4092,61.99,95,100,1.52,light rain
2,2,Hithadhoo,MV,-0.6000,73.0833,82.08,74,95,9.48,overcast clouds
3,3,Banjar,ID,-8.1900,114.9675,78.62,91,90,0.81,overcast clouds
4,4,Takoradi,GH,4.8845,-1.7554,84.81,68,29,6.89,scattered clouds
5,5,Yanam,IN,16.7333,82.2167,75.02,76,14,5.23,few clouds
7,7,Nouadhibou,MR,20.9310,-17.0347,73.38,38,0,14.97,clear sky
8,8,Barcelos,PT,41.5388,-8.6151,53.74,94,100,3.67,light rain
11,11,Rikitea,PF,-23.1203,-134.9692,73.94,81,89,3.38,overcast clouds
12,12,Shahapur,IN,19.4500,73.3333,85.14,51,1,6.80,clear sky
13,13,Victoria,HK,22.2855,114.1577,76.95,93,77,11.01,broken clouds

In [9]:
preferred_cities_df.count()

City_ID                446
City                   446
Country                441
Lat                    446
Lng                    446
Max Temp               446
Humidity               446
Cloudiness             446
Wind Speed             446
Weather Description    446
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Airai,TL,-8.9266,125.4092,61.99,95,100,1.52,light rain
2,2,Hithadhoo,MV,-0.6000,73.0833,82.08,74,95,9.48,overcast clouds
3,3,Banjar,ID,-8.1900,114.9675,78.62,91,90,0.81,overcast clouds
4,4,Takoradi,GH,4.8845,-1.7554,84.81,68,29,6.89,scattered clouds
5,5,Yanam,IN,16.7333,82.2167,75.02,76,14,5.23,few clouds
...,...,...,...,...,...,...,...,...,...,...
709,709,Sai Buri,TH,6.7013,101.6168,79.97,78,20,3.85,few clouds
711,711,Bubaque,GW,11.2833,-15.8333,81.12,53,98,6.11,overcast clouds
716,716,Balma,FR,43.6111,1.4994,56.68,71,0,19.57,clear sky
717,717,Manggar,ID,-2.8833,108.2667,80.76,77,99,0.56,overcast clouds
720,720,Cabedelo,BR,-6.9811,-34.8339,83.07,65,88,10.13,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
clean_travel_cities.count()

City_ID                441
City                   441
Country                441
Lat                    441
Lng                    441
Max Temp               441
Humidity               441
Cloudiness             441
Wind Speed             441
Weather Description    441
dtype: int64

In [13]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country","Max Temp", "Weather Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

          City Country  Max Temp Weather Description      Lat       Lng
1        Airai      TL     61.99          light rain  -8.9266  125.4092
2    Hithadhoo      MV     82.08     overcast clouds  -0.6000   73.0833
3       Banjar      ID     78.62     overcast clouds  -8.1900  114.9675
4     Takoradi      GH     84.81    scattered clouds   4.8845   -1.7554
5        Yanam      IN     75.02          few clouds  16.7333   82.2167
7   Nouadhibou      MR     73.38           clear sky  20.9310  -17.0347
8     Barcelos      PT     53.74          light rain  41.5388   -8.6151
11     Rikitea      PF     73.94     overcast clouds -23.1203 -134.9692
12    Shahapur      IN     85.14           clear sky  19.4500   73.3333
13    Victoria      HK     76.95       broken clouds  22.2855  114.1577

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [14]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

C:\Users\micha\AppData\Local\Temp\ipykernel_9908\300884029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Airai,TL,61.99,light rain,-8.9266,125.4092,
2,Hithadhoo,MV,82.08,overcast clouds,-0.6000,73.0833,
3,Banjar,ID,78.62,overcast clouds,-8.1900,114.9675,
4,Takoradi,GH,84.81,scattered clouds,4.8845,-1.7554,
5,Yanam,IN,75.02,few clouds,16.7333,82.2167,
7,Nouadhibou,MR,73.38,clear sky,20.9310,-17.0347,
8,Barcelos,PT,53.74,light rain,41.5388,-8.6151,
11,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,
12,Shahapur,IN,85.14,clear sky,19.4500,73.3333,
13,Victoria,HK,76.95,broken clouds,22.2855,114.1577,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [15]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [40]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

C:\Users\micha\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Airai,TL,61.99,light rain,-8.9266,125.4092,
2,Hithadhoo,MV,82.08,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Banjar,ID,78.62,overcast clouds,-8.1900,114.9675,The Hamsa Resort
4,Takoradi,GH,84.81,scattered clouds,4.8845,-1.7554,Raybow International Hotel
5,Yanam,IN,75.02,few clouds,16.7333,82.2167,The Regency Hotel
7,Nouadhibou,MR,73.38,clear sky,20.9310,-17.0347,El Medina
8,Barcelos,PT,53.74,light rain,41.5388,-8.6151,Hotel Do Terço
11,Rikitea,PF,73.94,overcast clouds,-23.1203,-134.9692,People ThankYou
12,Shahapur,IN,85.14,clear sky,19.4500,73.3333,OYO 68690 Hotel New Food Hub
13,Victoria,HK,76.95,broken clouds,22.2855,114.1577,Mini Central

In [44]:
hotel_df.count()

City                   441
Country                441
Max Temp               441
Weather Description    441
Lat                    441
Lng                    441
Hotel Name             441
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [55]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(5)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Airai,TL,61.99,light rain,-8.9266,125.4092,
2,Hithadhoo,MV,82.08,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Banjar,ID,78.62,overcast clouds,-8.1900,114.9675,The Hamsa Resort
4,Takoradi,GH,84.81,scattered clouds,4.8845,-1.7554,Raybow International Hotel
5,Yanam,IN,75.02,few clouds,16.7333,82.2167,The Regency Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [48]:
# Set the file name.
output_data_file = r"C:\Users\micha\Desktop\Data_Analysis_Bootcamp\Module_6\Weather_Database\WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [51]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [52]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Airai</dd>\n<dt>Country</dt><dd>TL</dd>\n<dt>Current Weather</dt><dd>light rain and 61.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Hamsa Resort</dd>\n<dt>City</dt><dd>Banjar</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Raybow International Hotel</dd>\n<dt>City</dt><dd>Takoradi</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Regency Hotel</dd>\n<dt>City</dt><dd>Yanam</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>El Medina</dd>\n<dt>City</dt><dd>Nouadhibou</dd>\n<dt>Country</dt><dd>MR</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Do Terço</dd>\n<dt>City</dt><dd>Barcelos</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>light rain and 53.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 68690 Hotel New Food Hub</dd>\n<dt>City</dt><dd>Shahapur</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.95 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [53]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -8.9266  125.4092
2   -0.6000   73.0833
3   -8.1900  114.9675
4    4.8845   -1.7554
5   16.7333   82.2167
7   20.9310  -17.0347
8   41.5388   -8.6151
11 -23.1203 -134.9692
12  19.4500   73.3333
13  22.2855  114.1577

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [54]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))